.tour-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.tour-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tour-card img {
  border-radius: 8px;
  margin-bottom: 10px;
}